<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
    </div>
    
    <div class="container">
        <ol>
            <li><a href="/admin/login">로그인</a></li>
            <li><a href="/admin/users/create-users">회원 가입</a></li>
        </ol>
    </div> <!-- /container -->
</body>
</html>