<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/create-form.css}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
    </div>
    
    <div class="container">
    <form role="form" th:action="@{/admin/login}" method="post" th:object="${signInRequest}">
        <div class="form-group">
            <label>이메일</label>
            <input type="text" th:field="*{email}" th:errorclass="field-error"
                   class="form-control" placeholder="이메일로 로그인">
        </div>
        <div class="error" th:errors="*{email}">
            에러 메세지
        </div>
        <div class="form-group">
             <label>비밀번호</label>
             <input type="password" th:field="*{password}"  th:errorclass="field-error"
                    class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <div class="error" th:errors="*{password}">
            에러 메세지
        </div>
        <button type="submit" class="btn">로그인</button>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="err: ${#fields.globalErrors()}" class="error" th:text="${err}">
            글로벌 오류 메세지
        </div>
        <!-- <div th:if="${error}" class="error" th:text="#{${error}}">
            글로벌 오류 메세지
        </div> -->
    </form>
    <div>
        <a href="/admin/users/create-users">회원가입</a>
    </div>
    </div> <!-- /container -->
</body>
</html>