<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/detail.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{template/fragment/header :: users_header ('유저상세조회')}" class="title">
        <h1>유저상세조회</h1>
    </div>

    <div class="container">
        <ul>
            <li th:text="|이메일 : ${user.email}|"></li>
            <li th:text="|이름 : ${user.name}|"></li>
            <li>참여중인 워크스페이스</li>
            <ul class="lists">
                <li th:each="workspace : ${user.workspaces}" th:text="${workspace}"></li>
            </ul>
            <li>참여중인 스케줄</li>
            <ul class="lists">
                <li th:each="schedule : ${user.schedules}" th:text="${schedule}"></li>
            </ul>
        </ul>
        
        <div class="btns">
            <form th:action="|/admin/users/${userId}/update|" method="get">
                <button type="submit">수정</button>
            </form>
            <form th:action="|/admin/users/${userId}/delete|" method="post">
                <button type="submit">삭제</button>
            </form>
        </div>
    </div> <!-- /container -->
</body>
</html>