<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{template/fragment/header :: devLogs_header ('개발일지관리')}" class="title">
        <h1>개발일지 관리</h1>
    </div>

    <div class="container">
        <ol>
            <li><a href="/admin/devLogs/create-devLogs">새 개발일지 생성</a></li>
            <li><a href="/admin/devLogs/read-devLogs">개발일지 목록 조회</a></li>
        </ol>
    </div> <!-- /container -->
</body>
</html>