<div th:fragment="devLogs_header (title)" class="title">
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
        <p><a href="/admin/devLogs" th:text="#{service.devLog}">[개발일지 서비스]</a></p>  
    </div>
    <p th:text="${title}"></p>
</div>

<div th:fragment="schedules_header (title)" class="title">
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
        <p><a href="/admin/schedules" th:text="#{service.schedule}">[스케줄 서비스]</a></p>
    </div>
    <p th:text="${title}"></p>    
</div>

<div th:fragment="users_header (title)" class="title">
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
        <p><a href="/admin/users" th:text="#{service.user}">[유저 서비스]</a></p>
    </div>
    <p th:text="${title}"></p>
</div>

<div th:fragment="workspaces_header (title)" class="title">
    <div class="header">
        <h1><a href="/admin" th:text="#{admin}">Admin</a></h1>
        <p><a href="/admin/workspaces" th:text="#{service.workspace}">[워크스페이스 서비스]</a></p>
    </div>
    <p th:text="${title}"></p>
</div>