<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{template/fragment/header :: users_header ('유저목록조회')}" class="title">
        <h1>유저 관리</h1>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>이메일</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.id}"></td>
                    <td><a th:text="${user.email}" th:href="|/admin/users/${user.id}|"></a></td>
                    <td th:text="${user.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>