<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{template/fragment/header :: workspaces_header ('워크스페이스관리')}" class="title">
        <h1>워크스페이스 관리</h1>
    </div>

    <div class="container">
        <ol>
            <li><a href="/admin/workspaces/create-workspaces">새 워크스페이스 생성</a></li>
            <li><a href="/admin/workspaces/read-workspaces">워크스페이스 목록 조회</a></li>
        </ol>
    </div> <!-- /container -->
</body>
</html>