<!DOCTYPE HTML>
<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/detail.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{template/fragment/header :: workspaces_header ('워크스페이스관리')}" class="title">
        <h1>워크스페이스 관리</h1>
    </div>

    <div class="container">
        <ul>
            <li th:text="|이름 : ${workspace.name}|"></li>
            <li>참여중인 유저</li>
            <ul class="lists">
                <li th:each="user : ${workspace.users}" th:text="${user}"></li>
            </ul>
            <li>진행중인 스케줄</li>
            <ul class="lists">
                <li th:each="schedule : ${workspace.schedules}" ><a th:text="${schedule.scheduleName}" th:href="|/admin/schedules/${schedule.scheduleId}|"></a></li>
            </ul>
        </ul>
        
        <div class="btns">
            <form th:action="|/admin/workspaces/${workspace.id}/update|" method="get">
                <button type="submit">수정</button>
            </form>
            <form th:action="|/admin/workspaces/${workspace.id}/delete|" method="post">
                <button type="submit">삭제</button>
            </form>
        </div>
    </div> <!-- /container -->
</body>
</html>