<html xmlns: th=”http://www.thymeleaf.org”>
<head>
    <title>BlazingDevs Calender!</title>
    <link th:href="@{/css/create-form.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{template/fragment/header :: devLogs_header ('개발일지수정')}" class="title">
        <h1>개발일지 수정</h1>
    </div>

    <div class="container">
        <form role="form" th:action="|/admin/devLogs/${devLogId}/update|" method="post">
            <div class="form-group">
                <label>내용</label>
                <input type="text" name="content" class="form-control" th:value="${content}"/>
            </div>
            <div class="error" th:text="${content_error}?: _"></div>
            <button type="submit" class="btn">생성</button>
        </form>
    </div>
</body>
</html>